Red{
    color: #F44336;
}Pink{
    color: #E91E63;
}Purple{
    color: #9C27B0;
}Indigo{
    color: #3F51B5;
}Blue{
    color: #2196F3;
}Cyan{
    color: #00BCD4;
}Teal{
    color: #009688;
}Green{
    color: #4CAF50;
}Lime{
    color: #CDDC39;
}Yellow{
    color: #FFEB3B;
}Amber{
    color: #FFC107;
}Orange{
    color: #FF9800;
}Brown{
    color: #795548;
}Grey{
    color: #9E9E9E;
}Black{
    color: #000000;
}White{
    color: #FFFFFF;
}